h2 {
  color: #333;
}

.movie-list {
  list-style: none;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px; /* Establece la altura deseada para todas las tarjetas */
  box-sizing: border-box; /* Asegura que el borde y el relleno no afecten la altura total */
  background-color: #333; /* Color verde claro de fondo */
  color: white;
}

.movie-card img {
  width: 100%;
  height: 100%; /* Haz que la imagen ocupe el 100% de la altura del contenedor */
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.movie-image:hover {
  opacity: 0.8;
}
.movie-details {
  text-align: center;
}

.movie-details h3 {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.movie-details p {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 0;
}
.search-form {
  padding: 15px;
}
