.movie-details {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.poster-container {
  flex: 1;
}

.poster {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-container {
  flex: 2;
  padding-left: 20px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info {
  font-size: 1.1em;
  margin-bottom: 8px;
}

.plot {
  margin-top: 20px;
}

.plot h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
